# Ignore everything by default
*

# Allow traversal into key directories
!themes/
!plugins/

# Track only our custom code
!themes/flatsome-child/
!themes/flatsome-child/**
!plugins/cph-core/
!plugins/cph-core/**
!mu-plugins/
!mu-plugins/**
!coloring_pipeline.py
!.gitignore

# Ignore OS files
.DS_Store
**/.DS_Store
